.container {
  width: 800px;
  margin: 0 auto; }
  @media (max-width: 850px) {
    .container {
      width: 90%; } }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row .l2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

.col {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

nav {
  background: rgba(37, 85, 86, 0.85);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(29, 67, 68, 0.85); }
  nav .logo {
    font-size: 1.2em; }
  nav a {
    text-decoration: none;
    color: inherit; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
a.btn,
button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid black;
  border: 1px solid rgba(37, 85, 86, 0.85);
  padding: 10px 20px;
  color: rgba(37, 85, 86, 0.85);
  cursor: pointer;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  -ms-transition: All 0.2s ease;
  transition: All 0.2s ease; }

[role="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.btn:hover,
button:hover {
  background-color: #F0F1F2; }

.profile-body {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.profile-container {
  margin: 0 auto;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.profile {
  width: 500px;
  background: white;
  padding: 3em;
  border-radius: 4px; }
  .profile h1 {
    font-weight: 100;
    font-size: 2.5em;
    margin: 0; }
  .profile h2 {
    font-weight: 200;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 15px; }
  .profile .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.generated {
  width: 100%; }
  .generated .menu-item {
    -ms-align-items: baseline;
    align-items: baseline;
    -ms-display: flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1; }
  .generated .item-name {
    margin: 0;
    margin-bottom: 5px;
    border: none;
    order: 1;
    -ms-order: 1; }
  .generated .menu-item::before {
    border-bottom: 2px dotted black;
    content: "";
    flex-grow: 1;
    -ms-flex-grow: 1;
    height: 1em;
    order: 2;
    -ms-order: 2;
    margin: 0 3px; }
  .generated .item-description {
    font-style: italic;
    margin: 0;
    width: 100%;
    order: 4;
    -ms-order: 4; }
  .generated .item-price {
    order: 3;
    -ms-order: 3;
    padding-top: 0.5em; }

@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }
@keyframes fadeIn {
  to {
    opacity: 1; } }
.fade-in {
  -webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0; }

footer {
  text-align: center;
  padding: 10px;
  background: #F0F1F2;
  font-size: 0.8em; }

.alert {
  position: absolute;
  right: 20px;
  top: 50px;
  background-color: rgba(29, 67, 68, 0.85);
  color: white;
  padding: 20px; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.71);
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.menu-container {
  padding: 0 100px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.margin-bottom {
  margin-bottom: 10px; }

form {
  color: rgba(0, 0, 0, 0.71); }

form label {
  display: block;
  font-size: 1em; }

form input {
  padding: 5px;
  background: transparent;
  border: none;
  width: 100%;
  box-sizing: border-box; }

form input[type="radio"] {
  width: inherit; }

.menu-brand {
  font-size: 1.7em; }

.menu-items {
  width: 100%; }

.menu-item {
  margin-bottom: 10px; }
  .menu-item .container-name {
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box; }
  .menu-item .container-price {
    width: 30%; }

.item-name, .item-price {
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize; }

.menu-description {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic; }

.menu-price {
  text-align: right; }

form button {
  margin: 10px 0; }

.hidden {
  display: none !important; }

@media (min-width: 799px) {
  .facet_sidebar {
    width: 95%; } }

/*# sourceMappingURL=style.css.map */
