<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--Import CSS-->
    <link type="text/css" rel="stylesheet" href="/styles/css/style.css" />
    <style type="text/css">
      <link type="text/css" rel="stylesheet" href="styles/css/style.css" />
    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>menu-gen</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <main>
      <nav>
        <a href="/">
          <span class="logo">brandforyou</span>
        </a>
      </nav>

      <div class="container">
        <h1 class="center">Thanks for using Menu-generator!</h1>
        <p class="center">Click below to see the menu in action</p>
        <div class="row">
          <div class="col download center">
            <a class="btn-large primary" href="/view/{{ id }}/menu.html">Click here to view menu</a>
          </div>
          <div class="col download center">
            <a class="btn" href="/view/{{ id }}/menu.zip">Download HTML</a>
            <a class="btn" href="/view/{{ id }}/menu.pdf">Download PDF</a>
            <a class="btn" href="/view/json-{{ id }}/menu.zip">Download JSON</a>
          </div>
          <div class="col download center">
            <p>You can download the HTML and CSS of your menu to use anywhere you want on the web.</p>
            <p>Get a printable PDF looking like the HTML menu.</p>
            <p>The JSON is the raw menu data that you have written. It can be used to reconstruct your menu at a later time if you lose the link.</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      © 2016 Anders Enghøj, All rights reserved.
    </footer>
  </body>
</html>
