<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--Import CSS-->
    <link type="text/css" rel="stylesheet" href="/styles/css/style.css" />
    <style type="text/css">
      {{ css }}
    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>menu-gen</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <nav>
      <a href="/">
        <span class="logo">Brand4U</span>
      </a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="menu-brand">{{ storename }}</h2>
        </div>

        {{#menuItems}}
          <div class="menu-items generated">
            <div class="menu-item">
              <span class="item-name">
                {{name}}
              </span>
              <span class="item-price">
                {{^price}} Free {{/price}}
                {{#price}}{{price}} DKK {{/price}}
              </span>
              <p class="item-description">
                {{description}}
              </p>
            </div>
          </div>
        {{/menuItems}}

      </div>
    </div>
  </body>
</html>
