/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
a.btn,
button {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid $primary;
    padding: 10px 20px;
    color: $primary;
    cursor: pointer;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

[role="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.btn:hover,
button:hover {
  background-color: #F0F1F2;
}
