$primary: #255556;
$primary: rgba(37, 85, 86, 0.85);
$primary-dark: rgba(37, 85, 86, 1);
$font-color: rgba(0,0,0,0.71);

@import 'grid';
@import "reset";
@import "nav";
@import "button";
@import "profile";
@import 'generated';
@import "fadeIn";
@import "footer";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $font-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }

.menu-container {
  padding: 0 100px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.margin-bottom {
  margin-bottom: 10px;
}

form {
  color: $font-color;
}

form label {
  display: block;
  font-size: 1em;
}

form input {
  padding: 5px;
  background:rgba(0,0,0,0);
  border:none;
  width: 100%;
  box-sizing: border-box;
}

form input[type="radio"] {
  width: inherit;
}

.menu-brand {
  font-size: 1.7em;
}

.menu-items {
  width: 100%;
}

.menu-item {
  margin-bottom: 10px;

  div {
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  div+div {
    width: 30%;
  }
}

.item-name, .item-price {
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.menu-description {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
}

.menu-price {
  text-align: right;
}

form button {
  margin: 10px 0;
}

.hidden {
  display: none !important;
}

@media (min-width: 799px) {
  .facet_sidebar {
    width: 95%;
  }
}
